In [1]:
import pandas as pd

In [2]:
import random

In [8]:
import numpy as np

In [9]:
import matplotlib.pyplot as plt

In [3]:
n = 100

In [47]:
data = pd.DataFrame({'temp': [random.random()*20 + 5 for _ in range(n)], 
                     'hum': [random.random()*70+20 for _ in range(n)],
                     'press':[random.random()*40 + 970 for _ in range(n)]})

In [7]:
data.describe()

             temp         hum        press
count  100.000000  100.000000   100.000000
mean    15.056939   57.875919   990.431927
std      5.724883   21.002295    10.822112
min      5.450618   20.007633   970.033762
25%     10.480281   39.101736   982.240511
50%     15.775116   59.143737   988.642258
75%     19.853104   77.642266   999.329388
max     24.932591   89.390156  1009.631431

In [10]:
data.head()

        temp        hum        press
0  11.073389  66.683162   982.538638
1  17.214041  68.408868   982.615912
2  22.357573  24.227054   984.066710
3  15.325962  79.989932   987.790414
4  22.942508  81.133926  1000.730895

In [67]:
data.loc[((data['temp']<15) & (data['hum']>50) & (data['press']<995)) | ((data['temp']>23) & (data['hum']>60)), 'weather'] = 'unpleasant'

In [69]:
data.loc[data['weather'].isna(), 'weather'] = 'ok'

In [26]:
#data.loc[(data['temp']>20) & (data['hum']<40) & (data['press']>985), 'weather'] = 'nice'a

In [29]:
#data.loc[(data['weather'].isna()) & (data['temp']<15) & (data['hum']>50) & (data['press']<995), 'weather'] = 'rather unpleasant'

In [68]:
data[data['weather'] == 'unpleasant']

         temp        hum        press     weather
5    5.500370  82.836754   986.496210  unpleasant
6    7.643634  76.566154   989.075852  unpleasant
9   13.275035  62.970407   982.412679  unpleasant
11  14.095295  60.247741   988.125446  unpleasant
36   5.595604  70.123980   977.583649  unpleasant
37   8.895205  72.916394   970.087398  unpleasant
43   9.449316  67.584344   984.148636  unpleasant
44   8.275921  63.746176   990.914855  unpleasant
46  13.469760  57.022048   991.243003  unpleasant
48  12.290645  62.860792   982.029034  unpleasant
52   7.636751  80.274334   984.588031  unpleasant
56  14.595677  60.528695   973.156337  unpleasant
62  10.726121  67.546994   974.856618  unpleasant
66  23.037037  84.899633  1001.466859  unpleasant
70  15.962183  74.402405   988.333262  unpleasant
71  14.521576  53.630349   991.906063  unpleasant
73  16.917539  66.419255   971.188076  unpleasant
74  23.763133  80.137274   997.311270  unpleasant
75  24.887178  83.540890   975.462177  unpleasant
76  10.542675  58.221813   982.054072  unpleasant
77  15.335450  60.001122   980.749219  unpleasant
78   5.307336  85.944679   993.640129  unpleasant
83  15.516626  57.974756   992.078527  unpleasant
84   9.166983  56.347471   989.787494  unpleasant
85  24.341803  68.785262   990.432665  unpleasant
89  23.492202  82.474732   986.774435  unpleasant
91  12.155400  79.381324   984.434533  unpleasant
99   9.825537  72.056634   975.844652  unpleasant

In [73]:
data['weather'] = pd.Categorical(data['weather'])

In [74]:
data['weather_code'] = data['weather'].cat.codes

In [76]:
data.sample(5)

         temp        hum       press     weather  weather_code
73  16.917539  66.419255  971.188076  unpleasant             1
53   8.408157  86.143788  997.658329          ok             0
91  12.155400  79.381324  984.434533  unpleasant             1
39  18.622630  43.741421  998.136760          ok             0
57  23.149326  58.972103  991.376669          ok             0

In [70]:
from sklearn.linear_model import LogisticRegression

In [71]:
from sklearn.model_selection import train_test_split

In [72]:
X = data[['temp', 'hum', 'press']]

In [77]:
y = data['weather_code']

In [78]:
Xtrain_test_split()

Signature: train_test_split(*arrays, **options)
Docstring:
Split arrays or matrices into random train and test subsets

Quick utility that wraps input validation and
``next(ShuffleSplit().split(X, y))`` and application to input data
into a single call for splitting (and optionally subsampling) data in a
oneliner.

Read more in the :ref:`User Guide <cross_validation>`.

Parameters
----------
*arrays : sequence of indexables with same length / shape[0]
    Allowed inputs are lists, numpy arrays, scipy-sparse
    matrices or pandas dataframes.

test_size : float, int or None, optional (default=None)
    If float, should be between 0.0 and 1.0 and represent the proportion
    of the dataset to include in the test split. If int, represents the
    absolute number of test samples. If None, the value is set to the
    complement of the train size. If ``train_size`` is also None, it will
    be set to 0.25.

train_size : float, int, or None, (default=None)
    If float, should be between 0.0 and 1.0 and represent the
    proportion of the dataset to include in the train split. If
    int, represents the absolute number of train samples. If None,
    the value is automatically set to the complement of the test size.

random_state : int, RandomState instance or None, optional (default=None)
    If int, random_state is the seed used by the random number generator;
    If RandomState instance, random_state is the random number generator;
    If None, the random number generator is the RandomState instance used
    by `np.random`.

shuffle : boolean, optional (default=True)
    Whether or not to shuffle the data before splitting. If shuffle=False
    then stratify must be None.

stratify : array-like or None (default=None)
    If not None, data is split in a stratified fashion, using this as
    the class labels.

Returns
-------
splitting : list, length=2 * len(arrays)
    List containing train-test split of inputs.

    .. versionadded:: 0.16
        If the input is sparse, the output will be a
        ``scipy.sparse.csr_matrix``. Else, output type is the same as the
        input type.

Examples
--------
>>> import numpy as np
>>> from sklearn.model_selection import train_test_split
>>> X, y = np.arange(10).reshape((5, 2)), range(5)
>>> X
array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])
>>> list(y)
[0, 1, 2, 3, 4]

>>> X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)
...
>>> X_train
array([[4, 5],
       [0, 1],
       [6, 7]])
>>> y_train
[2, 0, 3]
>>> X_test
array([[2, 3],
       [8, 9]])
>>> y_test
[1, 4]

>>> train_test_split(y, shuffle=False)
[[0, 1, 2], [3, 4]]
File:      ~/miniconda3/envs/minimal_ds/lib/python3.7/site-packages/sklearn/model_selection/_split.py
Type:      function

In [79]:
X_train, X_text, y_train, y_test = train_test_split(X,y)

In [80]:
X_train.shape

(75, 3)

In [81]:
y_train.shape

(75,)

In [86]:
logreg = LogisticRegression()

In [87]:
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [88]:
logreg.coef_

array([[-0.03675471,  0.07641829, -0.00494313]])

In [89]:
logreg.intercept_

array([0.00092023])

In [90]:
x = np.arange(100)